@model Gpstel.Models.Cliente
@{
    ViewBag.Title = "Form";
}
<h1>Envio de Correos</h1>
<br />
<br />
@if (ViewBag.Error != null)
{
    <h2>@ViewBag.Error</h2>
}
<div class="container">
@using (Html.BeginForm("Envio", "Cliente", FormMethod.Post, new { id = "frm-tipoevento" }))
{ 
    @*<form method="post" action="Envio">*@
        <input type="hidden" value="0" />
        <span class="form-control-static">Receiver Email</span>
        <input id="emailid"class="form-control" type="text" name="receiverEmail" value="@Model.correo" />
        <span class="form-control-static">Subject</span>
        <input id="subjectid" class="form-control" type="text" name="subject" />
        <span class="form-control-static">Message</span>
        <input id="messageid" class="form-control" type="text" name="message" />
        <br />
        <br />
        <button class="btn btn-primary" type="submit">Send Email</button>
    @*</form>*@
}
</div>
