@model List<Gpstel.Models.CHIP>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>

                <th>Concepto</th>
                <th>Fecha</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.numero</td>
                    <td>@item.tipo_contrato</td>
                    <td>@item.operador</td>
                </tr>
            }
        </tbody>
    </table>
</div>

