@{
    Layout = null;
}
@using Gpstel.Security;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div>
        Welcome @SessionPersister.Username
        <br />
        <a href="@Url.Action("Logout","Usuario")">Logout</a>
    </div>
</body>
</html>
